{% load static %}
{% load customtag %}
<!DOCTYPE html>
<html lang="en">


<head>
    

    <!-- Google Fonts (poppins) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,400;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Google material fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    

</head>

<body>
    
    <nav class="navbar">
        <a href="{% url 'home' %}" class="brand"><img src="{% static 'img/logo.png' %}" alt=""
                style="width: 150px;height: auto;"></a>
        <div class="menu-container">
            <ul class="mega-menu " style="margin-top: 8px;">
                <li class="dropdown1">
                    <div>
                        <span>Business Formations</span>
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>
                    <ul class="menu">
                      

                        <li class="sub-dropdown1">
                            <div>
                                <span>Business Formations in UAE</span>
                                <span class="material-symbols-outlined">
                                    chevron_right
                                </span>
                            </div>



                            <ul class="sub-menu">
                                <li style="font-weight: bolder;color: rgba(225, 53, 11, 0.767);">
                                    <p>Business Formations in UAE</p>
                                </li>
                                {% for i in categories %}
                                <!--Business Formations in UAE-->
                                {% if i.title == "Business Formations in UAE" %}
                                {% for page in i.title|navbar %}
                                <li>
                                    <a href="{{page.get_absolute_url}}">{{page}}</a>
                                </li>
                                {% endfor %}

                                {% endif %}
                                {% endfor %}




                            </ul>

                        </li>

                       
                    </ul>
                </li>
                <!-- our services -->
                <li class="dropdown1">
                    <div>
                        <span> Services</span>
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li class="sub-dropdown1">
                            <div>
                                <span>Services</span>
                                <span class="material-symbols-outlined">
                                    chevron_right
                                </span>
                            </div>
                            <ul class="sub-menu">
                                <li style="font-weight: bolder;color: rgba(225, 53, 11, 0.767);">
                                    <p>Services</p>
                                </li>
                                <!-- Services -->
                                {% for i in categories %}
                                {% if i.title == "Services" %}
                                {% for page in i.title|navbar %}
                                <li>
                                    <a href="{{page.get_absolute_url}}">{{page}}</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        

                    </ul>
                </li>
                <!-- Blogs  section -->
                <li class="dropdown1">
                    <div>
                        <span onclick="location.href='{% url 'blog' %}';">Blogs</span>
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>
                   
                </li>
                <!-- About us  section -->
                <li class="dropdown1">
                    <div>
                        <span onclick="location.href='{% url 'aboutus' %}';">About us</span>
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>
                   
                </li>
                <!-- Contact us section -->
                <li class="dropdown1">
                    <div>
                        <span onclick="location.href='{% url 'contact_us' %}';" >Contact us</span>
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>
                   
                </li>
              
               
             
            
            
            </ul>
            </li>
            </ul>
        </div>
        <div class="buttons">
           
            <button class="menu-btn">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        </div>
    </nav>
    <div style="margin-top: 90px;">


        {% block content %}

        {% endblock %}



    </div>



    <script src="{% static 'navbar.js' %}"></script>
   </body>

</html>